* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	height: 40px;
	background-color: rgb(255, 0, 0);
	color: white;
	font-size: 32px;
	text-align: center;
	margin: 5px;
	font-weight: bold;
}
