.click-button,
.no-click-button {
	font-family: Helvetica, "Times New Roman", sans-serif;
	font-size: 28px;
}

.click-button {
	background-color: black;
	color: white;
}

.no-click-button {
	background-color: yellow;
}
